html {
    font-size: 16px;
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul li {
    color: black;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    padding: 0 25px;
    text-decoration: none;
}

ul li:hover {
    color: blue;
    cursor: pointer;
}

ul li i {
    display: block !important;
    font-size: 3rem;
    color: blue;
}

ul li:hover i {
    color: black;
}