body {
    background: url(../img/background.jpg) center (top/cover) no-repeat;
}


.menu {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    padding-top: 9px;
    font-size: 18px;
    text-align: center;
    background-color: #006262;
    &__list {
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin: 10px 20px;
            display: inline-block;
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #fefefe;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}


.info {
    padding-top: 62px;
    float: left;
    width: 300px;
    height: 100vh;
    background-color: #509A78;
    &__img {
        img {
            display: block;
            margin: 0 auto;
            width: 90%;
            border-radius: 100%;
        }   
    }
    &__subtitle {
        margin-top: 32px;
        text-align: center;
    }
}

.main {
    width: 1200px;
    float: left;
    padding: 0 32px;
    &__title {
        text-align: center;
        margin: 0 184px;
    }
    &__content {
        margin-top: 100px;
        width: 100%;
        background-color:rgba(254, 254, 254, .5);
        p {
            padding-left: 80px;
            font-size: 18px;
        }
    }
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

footer {
    clear: both;
    width: 100%;
    height: 65px;
    text-align: right;
    color: #fefefe;
    padding-top: 15px;
    background-color: #006262;
}